<section 
  class="relative min-h-screen w-full overflow-hidden">
  <!-- Background Video -->
  <video
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    class="absolute inset-0 h-full w-full object-cover"
  >
    <source src="videos/right-hero.mp4" type="video/mp4" />
  </video>

  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-[#041628]/70"></div>

  <!-- Hero Content -->
  <div
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-delay="200"
  data-aos-easing="ease-out-cubic"
  data-aos="fade-up"
  data-aos="fade-up"
    class="relative z-10 mx-auto flex min-h-screen max-w-screen items-center px-5 sm:px-8 lg:px-12 xl:px-16"
  >
    <div class="max-w-4xl">

      <!-- Subtitle -->
      <span
        class="block mb-4 text-sm sm:text-lg md:text-base lg:text-2lg font-bold uppercase tracking-[2px] sm:tracking-[4px] text-sky-400"
      >
        Marine Surveyors & Consultants
      </span>

      <!-- Heading -->
      <h1
        class="font-bold leading-tight text-white
               text-3xl
               sm:text-4xl
               md:text-5xl
               lg:text-6xl
               xl:text-7xl"
      >
        Independent Marine
        <br class="hidden sm:block">
        Surveys You Can Trust.
      </h1>

      <!-- Tagline -->
      <h3
        class="mt-4 italic font-medium text-sky-400
               text-lg
               sm:text-xl
               md:text-2xl
               lg:text-3xl"
      >
        Excellence You Can Depend On.
      </h3>

      <!-- Description -->
      <p
        class="mt-6 max-w-2xl text-gray-300
               text-sm
               sm:text-base
               md:text-lg
               leading-7"
      >
        We perform independent surveys, cargo inspections,
        vessel assessments and technical consultancy for
        shipowners, charterers, insurers and port operators
        worldwide.
      </p>

      <!-- Buttons -->
      <div class="mt-8 flex flex-col sm:flex-row gap-4">

        <a
          routerLink="/contact"
          class="rounded-full bg-sky-500 px-6 py-3 sm:px-8 sm:py-4 text-center font-semibold text-white transition hover:bg-sky-600"
        >
          Request Survey
        </a>

        <a
          href="tel:+911234567890"
          class="rounded-full border-2 border-white px-6 py-3 sm:px-8 sm:py-4 text-center font-semibold text-white transition hover:bg-white hover:text-black"
        >
          24/7 Support
        </a>

      </div>

    </div>
  </div>
</section>

<div class="absolute bottom-0 left-0 w-full h-6 sm:h-8 md:h-10 lg:h-12 bg-white"></div>