<section data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-delay="200"
  data-aos-easing="ease-out-cubic"
  data-aos="fade-up"
  data-aos="fade-up"
  class="bg-white py-24">
  <div class="max-w-screen mx-auto px-6">
    <!-- Heading -->

    <div class="text-center mb-12">
      <h2 class="text-4xl uppercase text-[#0B2748]">Our Location</h2>

      <p class="text-gray-500 mt-4 text-lg">
        Find us in Panama, ready to serve you at any port worldwide.
      </p>
    </div>

    <!-- Google Map -->

    <div class="overflow-hidden rounded-2xl shadow-2xl">
      <iframe
        src="https://maps.google.com/maps?q=Curundu%20Heights,%20River%20Street,%20Building%20569B,%20Ancon,%20Panama%20City,%20Panama&t=&z=16&ie=UTF8&iwloc=&output=embed"
        class="w-full h-[300px] sm:[h-[400px] md:h-[500px] lg:h-[600px] xl:h-[700px]"
        style="border: 0"
        loading="lazy"
        allowfullscreen
      >
      </iframe>
    </div>

    <!-- Contact Information -->

    <div class="mt-12">
      <!-- Address -->

      <div class="flex items-start gap-3 sm:gap-4 pb-6 sm:pd-8 border-b">
        <div class="text-blue-600 text-2xl">
          <img src="images/contact/location.png" class="h-6 w-auto" />
        </div>

        <div>
          <p class="text-xs uppercase font-semibold tracking-widest text-gray-500">
            Office Address
          </p>

          <p class="text-gray-700 text-sm sm:text-base mt-2 leading-6">
            Curundu Heights, River Street, Building 569B, Ancón, Panama City, Republic of Panama
          </p>
        </div>
      </div>

      <!-- Bottom Row -->

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-10 mt-8">
        <!-- Email -->

        <div class="flex gap-3 intems-start">
          <div class="text-blue-600 text-sm">
            <img src="images/contact/email.png" class="h-6 w-auto" />
          </div>

          <div>
            <p class="uppercase text-xs tracking-widest text-gray-500">Email</p>

            <p class="font-semibold text-[#0B2748] mt-2 text-sm">msc@mscsurveyors.org</p>
          </div>
        </div>

        <!-- Phone -->

        <div class="flex gap-4">
          <div class="text-blue-600 text-2xl">
            <img src="images/contact/phone-call.png" class="h-6 w-auto" />
          </div>

          <div>
            <p class="uppercase text-xs tracking-widest text-gray-500">Phone / WhatsApp</p>

            <p class="font-semibold text-[#0B2748] mt-2 text-sm">(+507) 65980679</p>
          </div>
        </div>

        <!-- Emergency -->

        <div class="flex gap-4">
          <div class="text-blue-600 text-2xl">
            <img src="images/contact/warning.png" class="h-6 w-auto" />
          </div>

          <div>
            <p class="uppercase text-xs tracking-widest text-blue-400">24/7 Emergency</p>

            <p class="font-bold text-blue-400 mt-2 text-sm mb-30">(+507) 65980679</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ############################################################################################################### -->

  <section
    class="relative bg-cover bg-center py-12 sm:py-16 lg:py-20"
    style="background-image: url('images/about-small.avif')"
  >
    <!-- Dark Overlay -->
    <div class="absolute inset-0 bg-[#071c33]/90"></div>

    <!-- Content -->
    <div class="relative z-10 max-w-4xl mx-auto px-5 sm:px-6 lg:px-8 text-center">
      <!-- Heading -->

      <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold uppercase text-white">
        Ready For An Inspection?
      </h2>

      <p class="text-blue-400 italic mt-4 text-base sm:text-lg lg:text-xl leading-7">
        Our team is ready to mobilize to any port worldwide
      </p>

      <p class="text-gray-300 mt-5 text-lg">
        Contact us for a no-obligation quote or to coordinate an emergency inspection.
      </p>

      <!-- Small Badges -->

      <div class="flex justify-center gap-3 mt-6 flex-wrap">
        <div
          class="flex items-center gap-2 px-4 sm:px-5 py-2 sm:py-3 rounded bg-white/10 border border-white/20 text-white text-sm"
        >
          <img src="images/contact/time.png" class="h-6 w-auto" />
          24h Response
        </div>

        <div
          class="flex px-4 py-2 rounded bg-white/10 border border-white/20 text-white text-sm item-center gap-2"
        >
          <img src="images/contact/location.png" class="h-6 w-auto" />

          Global Coverage
        </div>
      </div>

      <!-- Buttons -->

      <div class="flex justify-center gap-5 mt-6 flex-wrap">
        <a
          routerLink="/contact"
          class="inline-flex items-center justify-center bg-blue-500 hover:bg-blue-600 text-white px-6 sm:px-8 py-3 sm:py-4 rounded font-semibold shadow-lg transition"
        >
          Request Quote →
        </a>

        <a
          href="tel:+50765980679"
          class="flex border gap-2 border-gray-300 hover:border-blue-500 text-white px-8 py-4 rounded font-semibold"
        >
          <img src="images/contact/phone-call.png" class="h-6 w-auto" />

          24/7 Emergency
        </a>
      </div>

      <!-- Contact Cards -->

      <div class="flex flex-col sm:flex-row justify-center gap-4 sm:gap-5 mt-6 flex-wrap">
        <div
          class="flex gap-2 bg-white/10 backdrop-blur-md px-6 py-4 rounded border border-white/10 text-white"
        >
          <img src="images/contact/phone-call.png" class="h-6 w-auto" />
          <a href="(+507) 65980679" class="border-gray-300 hover:border-blue-500"
            >(+507) 65980679</a
          >
        </div>

        <div
          class="flex gap-2 bg-white/10 backdrop-blur-md px-5 sm:px-6 py-3 sm:py-4 rounded border border-white/10 text-white"
        >
          <img src="images/contact/email.png" class="w-auto h-8" />

          <a href="mailto:msc@mscsurveyors.org">msc@mscsurveyors.org</a>
        </div>
      </div>
    </div>

    <!-- Bottom Curve -->

    <div class="absolute bottom-0 left-0 w-full overflow-hidden leading-none">
      <svg viewBox="0 0 1440 100" class="w-full h-10 sm:h-14 lg:h-16" preserveAspectRatio="none">
        <path d="M0,60 C480,110 960,10 1440,60 L1440,100 L0,100 Z" fill="white"></path>
      </svg>
    </div>
  </section>
</section>
