<section data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-delay="200"
  data-aos-easing="ease-out-cubic"
  data-aos="fade-up"
  data-aos="fade-up"
  class="relative min-h-screen w-full overflow-hidden">
  <video
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    class="absolute inset-0 h-full w-full object-cover"
  >
    <source src="videos/right-hero.mp4" type="video/mp4" />
  </video>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- Content -->
  <div class="relative z-10 flex min-h-screen items-center justify-center px-5 sm:px-6 lg:px-8">
    <div class="max-w-5xl text-center">
      <h1
        class="text-white font-light text-2xl sm:text-3xl md-text-4xl lg:text-5xl leading-tight max-w-4xl mx-auto"
      >
        Genuine passion for maritime <br />

        excellence, undeniable legacy of <br />

        technical integrity, and an <br />

        unfaltering commitment to safety, <br />

        transparency, and our clients trust.
      </h1>

      <!-- Blue Line -->
      <div class="w-16 sm:w-20 h-1 bg-sky-500 mx-auto my-6 sm:my-8"></div>

      <!-- Button -->
      <button
        routerLink="/contact"
        class="inline-flex items-center justify-center bg-sky-500 hover:bg-sky-600 text-white px-6 sm:px-8 py-3 sm:py-4 rounded-md font-semibold transition-all duration-300"
      >
        Request your inspection →
      </button>
    </div>
  </div>
</section>
